@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Cascadia Code PL", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @base;
    border-bottom: 3px solid @surface0;
    color: @text;
}

tooltip {
  background: @surface0;
  border: @mantle;
}
tooltip label {
  color: @text;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: @surface2;
    border-bottom: 3px solid @blue;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode, #battery, #idle_inhibitor, #pulseaudio, #network, #network.wifi, #bluetooth, #cpu, #memory, #temperature, #tray {
    padding: 0 10px;
    color: @text;
}

button:hover {
    background: @surface2;
}

#mode {
    background: transparent;
    border-bottom: 3px solid @text;
}

#clock {
    padding: 0 10px;
    background-color: @blue;
    color: @mantle;
}

/* #battery { */
/*     background-color: #ffffff; */
/*     color: black; */
/* } */

/* #battery.charging { */
/*     color: @text; */
/*     background-color: #26A65B; */
/* } */

/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: black; */
/*     } */
/* } */

/* #battery.warning:not(.charging) { */
/*     background: #f53c3c; */
/*     color: @text; */
/*     animation-name: blink; */
/*     animation-duration: 0.5s; */
/*     animation-timing-function: linear; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */
